<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BasicClassLibrary.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="BasicClass.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BasicClassLibrary.Properties.Settings>
            <setting name="serverAddress" serializeAs="String">
                <value>192.168.0.2</value>
            </setting>
            <setting name="username" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value>abc@123</value>
            </setting>
            <setting name="database" serializeAs="String">
                <value>Sebez_LIS</value>
            </setting>
        </BasicClassLibrary.Properties.Settings>
        <BasicClass.Properties.Settings>
            <setting name="serverAddress" serializeAs="String">
                <value>192.168.1.3</value>
            </setting>
            <setting name="username" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value>abc@123</value>
            </setting>
            <setting name="database" serializeAs="String">
                <value>Sefedms_4</value>
            </setting>
        </BasicClass.Properties.Settings>
    </userSettings>
</configuration>